// Navbar Style
.navbar{
    // background: linear-gradient(90deg, rgb(42,243,226), rgb(57,197,227), rgb(57,123,227), rgb(106,52,232));
    background: linear-gradient(90deg, rgb(89,144,232), rgb(57,123,227), rgb(106,52,232), rgb(84,24,225), rgb(60,17,161), rgb(60,17,161));
    opacity: 0.8;
}
#separacion{
    margin-left: 20px;
}
#collapsecard{
    opacity: 0.92;
}
#hamburguer{
background-color: rgb(89,144,232);
opacity: 0.8;
}

// Navbar Buttons Style
// Cerrar sesion
#LogOut{
height: 38px;
width: 120px;
padding: 0;
color: #fff;
box-sizing: border-box;
background: linear-gradient(90deg, #f44141, #fabf1e, #fa941e, #f44141);
background-size: 400%;
border-radius: 15px;
// z-index: -1;
border-color: none;
}
#LogOut:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
#LogOut:before{
    content: "";
    // position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    // background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3bdc, #03a9f4);
    // background-size: 400%;
    // border-radius: 15px;
    filter: blur(20px);
    opacity: 0;
    transition: 0,5s;

}
#LogOut:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

// Iniciar sesion
#LogIn{
height: 38px;
width: 120px;
padding: 0;
color: #fff;
box-sizing: border-box;
background: linear-gradient(90deg, #03a9f4, #40ecaa, #41eb79e1, #03a9f4);
background-size: 400%;
border-radius: 15px;
z-index: 1;
border-color: none;
}
#LogIn:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
#LogIn:before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    // background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3bdc, #03a9f4);
    // background-size: 400%;
    // border-radius: 15px;
    filter: blur(20px);
    opacity: 0;
    transition: 0,5s;

}
#LogIn:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

// Boton Registrarse
#Register{
height: 38px;
width: 120px;
padding: 0;
color: #fff;
box-sizing: border-box;
background: linear-gradient(90deg, #e233a8, #f781cf, #f48941, #e233a8);
background-size: 400%;
border-radius: 15px;
z-index: -1;
border-color: none;
// margin-left: 15px;
}
#Register:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
#Register:before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    // background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3bdc, #03a9f4);
    // background-size: 400%;
    // border-radius: 15px;
    filter: blur(20px);
    opacity: 0;
    transition: 0,5s;

}
#Register:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}
body{
    height: 100%;
}
#app{
    height: 100%;
    min-height: 100%;
}



