// Botón formulario de registro

#RegistrarseForm{
    align-content: center;
    height: 38px;
    width: 470px;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    background: linear-gradient(90deg, #e233a8, #f781cf, #f48941, #e233a8);
    background-size: 400%;
    border-radius: 15px;
    z-index: 1;
    border-color: none;
}
#RegistrarseForm:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
#RegistrarseForm:before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    // filter: blur(20px);
    opacity: 0;
    transition: 0,5s;
}
#RegistrarseForm:hover:before{
    // filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

// Formulario detalles

// #RegisterForm{
//     position: absolute;
//     // top: 50%;
//     // left: 50%;
//     // transform: translate(-50%,-50%);
//     overflow: hidden;
//     box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
//     }
// #RegisterForm:after{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: -100%;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(90deg, transparent, rgba(255,255,255, 0.4), transparent );
//     transition: 0.5s;
// }
// #RegisterForm:hover:after{
//     left: 100%;
// }

.alert{
    background: linear-gradient(90deg, #88f8cd, #81f79f, #cff36b, #88f8cd);
    color: #fff;
    opacity: 0.8;
    text-align: center;
}
